.presentacio{
    display: flex;

}
.yoyoyo{
    padding-left: 15px;
}
.imageneportafolioooss{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.contasto{
    display: flex;
}

.nombree{
    padding-left: 60px
}
h1{
    color: rgb(204, 0, 0);
}
h4{
    color: darkred;
     padding-left: 60px;
    padding-top: 50px;
    padding-right: 200px;
} 

.see{
    color: aliceblue;
}
